# Configuración de Confluence
CONFLUENCE_BASE_URL=https://naturgy-adn.atlassian.net
CONFLUENCE_EMAIL=carlos.sarrion@es.ibm.com
CONFLUENCE_API_TOKEN=tu_api_token_aqui
CONFLUENCE_SPACE_KEY=Y
OUTPUT_DIR=confluence_export